<div fxLayout="row" fxLayoutAlign="start stretch" style="margin: 30% 0;">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
    <mat-label><strong>Success</strong> Congratulations of Finding Falcone. King Shan is mighty pleased.</mat-label>
    <mat-label><strong>Time Taken</strong>&nbsp; &nbsp; : {{timeTaken}}</mat-label>
    <mat-label><strong>Planet Found</strong>&nbsp; &nbsp; : {{planetFound}}</mat-label>
    <button  mat-raised-button [routerLink]="['..']" class="custom-refresh-button">Refresh <mat-icon>refresh</mat-icon></button>
  </div>
</div>